<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manage_Doom_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Manage_Doom_Launcher.Properties.Settings>
            <setting name="Engine_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="IWAD_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="lstIWADS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbMaps" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps2" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps3" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps4" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps5" serializeAs="String">
                <value />
            </setting>
            <setting name="Map1_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="Map2_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="Map3_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="Map4_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="Map5_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadPwads" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadDeh" serializeAs="String">
                <value />
            </setting>
            <setting name="IWAD_SelectedItem" serializeAs="String">
                <value />
            </setting>
            <setting name="IWAD_Index" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps6" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMaps7" serializeAs="String">
                <value />
            </setting>
            <setting name="Map6_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="Map7_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="current_iwad" serializeAs="String">
                <value />
            </setting>
            <setting name="lblLoadedPwad" serializeAs="String">
                <value />
            </setting>
            <setting name="lblLoadedDeh" serializeAs="String">
                <value />
            </setting>
            <setting name="tabControl1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbSkills" serializeAs="String">
                <value />
            </setting>
            <setting name="Skill_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbMonsters" serializeAs="String">
                <value />
            </setting>
            <setting name="Monsters_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbGameMods" serializeAs="String">
                <value />
            </setting>
            <setting name="GameMods_Select" serializeAs="String">
                <value />
            </setting>
            <setting name="txtRecent_Pwads" serializeAs="String">
                <value />
            </setting>
            <setting name="txtRecent_Deh" serializeAs="String">
                <value />
            </setting>
            <setting name="New_IWAD_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalCmds" serializeAs="String">
                <value />
            </setting>
            <setting name="chkSaveAdditional" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txt_LoadedPwads" serializeAs="String">
                <value />
            </setting>
            <setting name="txt_LoadedDeh" serializeAs="String">
                <value />
            </setting>
            <setting name="chkAutoIWADs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="current_pwad" serializeAs="String">
                <value />
            </setting>
            <setting name="current_deh" serializeAs="String">
                <value />
            </setting>
        </Manage_Doom_Launcher.Properties.Settings>
    </userSettings>
</configuration>